#transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
 #transformation iframe {
  -webkit-transition: -webkit-transform 3s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 60deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 60deg);
}
 #transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 65deg);
  transform: rotate3d(0, 0, 1, 65deg);
}
 #transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
#transformation iframe {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 50deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 50deg);
}
#transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 50deg);
  transform: rotate3d(0, 0, 1, 55deg);
}
 #transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
 #transformation iframe {
  -webkit-transition: -webkit-transform 3s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 60deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 60deg);
}
 #transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 65deg);
  transform: rotate3d(0, 0, 1, 65deg);
}
 #transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
 #transformation iframe {
  -webkit-transition: -webkit-transform 4s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 750deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 75deg);
}
 #transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 80deg);
  transform: rotate3d(0, 0, 1, 450deg);
}
 #transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
 #transformation iframe {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 50deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 50deg);
}
 #transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 550deg);
  transform: rotate3d(0, 0, 1, 55deg);
}
 #transformation {
  -webkit-perspective: 800;
  perspective: 800;
  margin: 100px 0 100px 50px;
}
 #transformation iframe {
  -webkit-transition: -webkit-transform 3s ease-in-out;
  -webkit-transform: rotate3d(0, 1, 1, 60deg);
  transition: transform 1s ease-in-out;
  transform: rotate3d(0, 1, 1, 60deg);
}
 #transformation iframe:hover {
  -webkit-transform: rotate3d(0, 0, 1, 650deg);
  transform: rotate3d(0, 0, 1, 65deg);
}
